.edit-text {
    font-size: 28px;
    padding-left: 110px;
}

.edit {
    border: 1px solid #ccc;
    width: 20%;
    height: 285px;
    margin: 15px;
    text-align: left;
    float: left;
    padding-left: 50px;
}

.edit img {
    margin: 10px;
}

.edit-form {
    border: 1px solid #ccc;
    width: 30%;
    height: 285px;
    margin: 15px;
    text-align: left;
    float: left;
    padding-left: 50px;
}

.edit-form label {
    float: left;
    width: 32%;
    margin-top: 20px;
    font-weight: bold;
}

.edit-form input {
    width: 65%;
    padding: 15px 0 5px 15px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
}

.edit-summary {
    border: 1px solid #ccc;
    width: 40%;
    height: 285px;
    margin: 15px;
    text-align: left;
    float: left;
    padding-left: 40px;

}

.edit-submit {
    width: 160px;
    height: 35px;
    color: #fff;
    background-color: #AB9353;
    border: none;
    border-radius: 2px;
    margin: 5px;
    font-size: 15px;
/*     cursor: pointer;
 */}