.upload-text {
    font-size: 28px;
    padding-left: 110px;
}

.upload-form {
    border: 1px solid #ccc;    
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.upload-items  {
    margin-bottom: 10px;
    float: left;
    padding-right: 60px;
}

.upload-summary {
    float: right;
}


.upload-submit {
    width: 160px;
    height: 35px;
    color: #fff;
    background-color: #AB9353;
    border: none;
    border-radius: 2px;
    margin: 15px;
    font-size: 20px;
}