/* .web {
    margin: auto;
} */

.container {
    max-width: 1024px;
    margin: auto;
    padding-top: 20px;
    /* background-color: var(--white-color); */
    /* background-color: var(--ground-color); */
    box-sizing: border-box;
    border-radius: 4px;
    /* position: relative; */
}

.container-img-info {
    display: flex;
    flex-wrap: wrap;
}

/* ----- container--img ------*/
.container--img {
    padding-left: 80px;
    /* padding-right: 30px; */
    position: relative;
}

.container---bigimg > img{
    width: 350px;
    height:500px;
}

/* ----- container--info ------*/
.container--info {
    width: 400px;
    margin-top: 60px;
    padding-left: 75px;
}

.info-book {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: left;
}
.info-book:first-child {
    line-height: initial;
}

.info-version , .info-condition,
.info-delivery, .info-owner, 
.info-rating {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.info-rating span {
    float: left;
}

.number-star {
    float: left;
    width: 200px;
    padding-left: 5px;
}

.info-version > div:first-child {
    float: left;
    width: 280px;
}

.fas.fa-star {
    color: rgb(255, 196, 0);
}

.buynow {
    background-color: var(--main-color);
    border-radius: 8px;
    width: 222px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border: none;
    margin-bottom: 20px;
}

.buynow:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* .buynow > a {
    text-decoration: none;
    color: var(--white-color);
} */

/* ----- container-summary ----- */
.container-summary {
    padding: 20px 80px 0 80px;
    text-align: justify;
}

.container-summary > p {
    line-height: 25px;
}

#del {
    color: red;
    font-weight: bold;
    border: 0;
    background: none;
}

#del:hover{
    font-size: large;
}