:root {
    --white-color: #fdfbf3;
    --back-color: #000;
    --text-color: #565656;
    --main-color: #AB9353;
    --ground-color: #F4F5F7;    
  }
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #565656;
}
.web {
    background-color: var(--ground-color);
}



.container-img-info {
    display: flex;
    flex-wrap: wrap;
}

/* ----- container--img ------*/
.container--img {
    padding-right: 75px;
    position: relative;
}

.container---bigimg > img{
    width: 350px;
    height:500px;
}

.container---smallimgs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.smallimg {
    margin: 0 5px;
}

.smallimg:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.smallimg > img {
    width: 60px;
    height: 60px;
}

.smallimg:hover > .hide {
    display: block;
}

.hide {
    display: none;
    animation: fadein 0.5s;
}

.hide img {
    width: 350px;
    height:500px;
    position: absolute;
    left: 0;
    top: 0;
}

/* ----- container--info ------*/
.container--info {
    min-width: 400px;
    margin-top: 60px;
}

.info-book {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
}

.info-version , .info-condition,
.info-delivery, .info-owner, 
.info-rating {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

.info-owner {
    margin-top: 30px;
}

.info-version > div:first-child {
    float: left;
    width: 280px;
}

.fas.fa-star {
    color: rgb(255, 196, 0);
}

.buynow {
    background-color: var(--main-color);
    border-radius: 8px;
    width: 222px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border: none;
    margin-bottom: 20px;
}

.buynow > a {
    text-decoration: none;
    color: var(--white-color);
}

/* ----- container-summary ----- */
.container-summary {
    padding-top: 20px;
    text-align: justify;
}

.container-summary > p {
    line-height: 25px;
} */

/* ---body--- */

.MainBody {
    position: relative;
    text-align: center;
}

.MainBody img {
    width: 100%;
    height: 700px;
    margin-top: 10px;
    filter: brightness(60%);
}

.centeredBody {
    position: absolute;
    top: 10%;
    left: 15%;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
    color: #fdfbf3;
    filter: brightness(110%);
}

.search {
    float: left;
    width: 50%;
}

.search input {
    width: 250px;
    padding: 10px;
}

.centeredBody button {
    background-color: #AB9353;
    color: #fdfbf3;
    padding: 15px;
    border-radius: 3px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

/*About project*/

.about {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.about p {
    border: 1px solid #565656;
    border-radius: 3px;
    margin: 30px 40px;
    width: 180px;
    height: 200px;
    padding: 25px;
}

.about i {
    font-size: 42px;
    margin-top: 35px;
}

/*Create account sugestion*/
.sugestion {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sugestion button {
    background-color: #AB9353;
    color: #fdfbf3;
    padding: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

/* Hieu - popup - sign up */

.popup-signup-form *, .popup-login-form * {
    box-sizing: border-box;
}

.popup-signup-form, .popup-login-form {
    display: none;
    position: fixed;
    top: 0px;
    z-index: 8;
    height: 100%;
    overflow: auto;
}

.signup-form, .login-form {
    width: 1024px;
    height: 830px;
    padding: 20px 300px;
    background-color: rgba(255,255,255,0.9);
}

.signup-form h2, .login-form h2 {
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.signup-form label, .login-form label {
    float: left;
    width: 32%;
    margin-top: 20px;
}

.signup-form input[type=text],
.signup-form input[type=password],
.login-form input[type=text],
.login-form input[type=password] {
    width: 68%;
    padding: 15px 0 5px 15px;
    margin: 5px 0 15px 0;
    border: none;
    background-color: #ddd;
}

.signup-form input[type=text]:focus,
.signup-form input[type=password]:focus,
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    background-color: rgb(207, 207, 207);
    outline: none;
}

.signup-form .btn, .login-form .btn {
    background-color: #4CAF50;
    color: var(--white-color);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    font-weight: bold;
    font-size: 18px;
}

.signup-form .btn.signup, .login-form .btn.login {
    margin-top: 10px;
}

.signup-form .cancel, .login-form .cancel {
    background-color: red;
}

.signup-form .btn:hover,
.signup-button:hover,
.login-form .btn:hover,
.login-button:hover {
    opacity: 0.9;
}

/* Hieu - popup - sign up - END*/


/* profile page */

.editable {
    border: 1px solid black;
    padding: 0px 10px;
    cursor: text;
    color: red;
}

.non-editable {
    border: none;
    padding: none;
    cursor: default;
    color: black;
}