:root {
  --white-color: #fdfbf3;
  --back-color: #000;
  --text-color: #565656;
  --main-color: #AB9353;
  --ground-color: #F4F5F7;    
}

*{
  box-sizing: border-box;
} 

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--text-color);
}