#blocka {
    margin-left: 30%;
    float: left;
    width: 250px;
}

.t-info {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.t-book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.t-book-cover {
    display: inline-block;
    margin-left: 15px;
    overflow: hidden !important;
}

img.t-book-cover {
    width: 150px;
}

.t-book-cover img {
    width: 180px;
    height: 220px;
}

button {
    margin: 20px 0 20px 38px;
}

/* ----------------- */
/* ----------------- */
#blockb {
    float: left;
}

.t-user-list {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.t-user-item {     
    list-style: none;
    font-weight: bold;
    background-color: rgb(168, 168, 255);
    min-width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    margin-left: 100px;
}

.t-user-item:hover {     
    cursor: pointer;
    background-color: rgb(93, 93, 255);
}

/* ----------------- */
/* ----------------- */
.t-conversation {
    border: 1px solid blue;
    border-radius: 4px;
    width: 300px;
    display: block;
    margin-left: 100px;

}

.outgoing-message {
    margin-bottom: 1px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding-right: 10px;
    text-align: right;
    /* width: fit-content; */
    /* --width: fit-content; */

    clear: both;
    position: relative;
    /* left: calc(100% - var(--width)); */

    /* display: flex;
    justify-content: flex-end; */
    /* margin-left: 50%; */
    /* margin-left: calc(100% - var(--width)); */
}

.incoming-message {
    margin-bottom: 1px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding-left: 10px;
    width: 100%;
    /* width: fit-content; */
    /* clear: both; */

    /* display: flex;
    justify-content: flex-end; */
}

img.avatar {
    width: 20px;
    height: 20px;
    clip-path: circle(50%);
}

.t-time {
    font-size: 10px;
}

.t-message {
    color: var(--text-color);
    font-weight: 400;
    padding-left: 10px;
    /* width: fit-content; */
    max-width: 300px;
    /* text-align: left; */
}

.inbox__people {
    border: 1px solid black;
}

span.message-sender {
    font-weight: bold;
}

span.time-date {
    font-style: italic;
    font-size: x-small;
    display: none;
}

#blockb h4 {
    text-align: center;
}

.t-send-area {
    margin-left: 10px;
}

#message {
    width: 234px;
}

#btn-send {
    margin-left: 10px;
}

#btn-exchange-done, #btn-delete-conversation {
    width: 160px;
    height: 50px;
    color: #fff;
    background-color: #AB9353;
    border: none;
    border-radius: 2px;
    margin: 15px;
    font-size: 20px;
}

#btn-delete-conversation[disabled] {
    filter: brightness(.8);
}

#btn-exchange-done:hover {
    filter: drop-shadow(2px 3px 4px gray) brightness(1.1);
    cursor: pointer;
  }

#btn-delete-conversation:hover {
    filter: drop-shadow(2px 3px 4px gray) brightness(1.1);
    cursor: pointer;
}

#btn-delete-conversation:hover[disabled] {
    filter: brightness(.8);
    cursor: auto;
}

.t-flex {
    display: flex;
}

.t-label-new-book-cover {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    position: auto !important;
    padding: 7px 0;
    top: 0px !important;
    right: 180px !important;
    width: 180px !important;
    margin-right: -180px;
    background-color: #ebb134 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    z-index: 1;
}