<!-- footer -->
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

<div class="footer">
    <div class="footer-body">
    <div class="support">
            <h3>Contact us</h3>
        <p>
            <i class="fas fa-phone-volume"></i>
            <span id="phone">&nbsp;  0909 123 456 <sub>(Free)</sub></span>
            <br>
            <i class="far fa-envelope"></i>
            <span>  team3@students.oamk.fi</span>
        </p>
    </div>
    <div class="info">
            <h3>Information</h3>
        <p>
            <a>About us</a>
            <a>Exchanging Guide</a>
            <a>Transportation</a>
        </p>
    </div>
    </div>
    <p>© 2021 TEAM3. All rights reserved.</p>
</div>
<!-- end of footer -->