<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<!-- header -->
<div class="header">
  <!-- header_navbar -->
  <div class="header_navbar">
    <a href="/"><img src="/images/logo.png"></a>
    <ul>
      <li><a href="/about">About</a></li>
      <li><button class="signup-button" onclick="openSignupForm()">Sign Up</button></li>
      <li><button class="login-button" onclick="openLoginForm()">Log In</button></li>
    </ul>

    <div class="popup-signup-form" id="signupForm" class="t-flyout">
        <!-- <form class="signup-form" action="/member/add" method="post"> -->
          <form class="signup-form" name="signupForm">
          <h2>Welcome to BookExchange! 
              To start your journey you need to register.</h2>

          <div>
            <label><b>Name</b></label>
            <input type="text" name="firstname" placeholder="Enter Name" required>
          </div>
          <div>
            <label><b>Surname</b></label>
            <input type="text" name="lastname" placeholder="Enter Surname">
          </div>
          <div>
            <label><b>Email</b></label>
            <input type="email" name="emailaddress" placeholder="Enter Email" required>
          </div>
          <div>
            <label><b>Address</b></label>
            <input type="text" name="address" placeholder="Enter Address">
          </div>
          <div>
            <label><b>Phone number</b></label>
            <input type="text" name="phonenumber" placeholder="Enter Phone number">
          </div>

          <div>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
          </div>
          <div>
            <label><b>Confirm password</b></label>
            <input type="password" placeholder="Confirm Password" name="password2" required>
          </div>

          <!-- <button type="submit" class="btn signup">Create your account</button> -->
          <button type="button" class="btn signup" id="btn-signup">Create your account</button>
          <button type="button" class="btn cancel" onclick="closeSignupForm()">Close</button>
        </form>
    </div>

    <div class="popup-login-form" id="loginForm" class="t-flyout">
        <!-- <form class="login-form" action="/member/login" method="post"> -->
          <form class="login-form" name="loginForm">
          <h2>If you already have a BookExchange profile, please log in.</h2>

          <div>
            <label><b>Email</b></label>
            <input type="email" name="emailaddress" placeholder="Enter Email" required>
          </div>
          <div>
            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password" required>
          </div>
          <button type="button" class="btn login" id="btn-login">Log In</button>
          <div>
            <label><b>Do not have account yet?</b></label>
          </div>
          <button type="button" class="btn cancel" onclick="closeLoginForm();openSignupForm();">Create account</button>
        </form>
    </div>

    
  </div>
</div>

<script>
  $('#btn-login').click( () => {
    $.post( '/member/login2', $('form.login-form').serialize(), (data, status) => {
      console.log( 'Data responded from server:', data, '\nStatus:', status);
      localStorage.setItem('idmember', data[0].idmember);
      localStorage.setItem('firstname', data[0].firstname);
      localStorage.setItem('lastname', data[0].lastname);

      window.location.href = '/member?idmember=' + data[0].idmember;
    });
  });

  $('#btn-signup').click( () => {
    $.post( '/member/add', $('form.signup-form').serialize(), (data, status) => {
      console.log(data.success);
      alert(data.message);
      if (data.success) {
        openLoginForm();
      }
    });
  });

  $(document).mouseup(function(e) 
  {
      var container = $(".t-flyout");
      // if the target of the click isn't the container nor a descendant of the container
      if (!container.is(e.target) && container.has(e.target).length === 0) 
      {
          container.hide();
          // $(document).unbind( 'click', ...);
      }
  });

  function openSignupForm() {
      document.getElementById("signupForm").style.display = "block";
  }

  function closeSignupForm() {
      document.getElementById("signupForm").style.display = "none";
  }

  function openLoginForm() {
      document.getElementById("loginForm").style.display = "block";
  }

  function closeLoginForm() {
      document.getElementById("loginForm").style.display = "none";
  }

</script>

<script type="text/javascript">
  const idmember = localStorage.getItem('idmember');

  if (idmember && parseInt(idmember) > 0) {
    document.querySelector("button.signup-button").parentNode.remove();
    document.querySelector("button.login-button").parentNode.remove();

    const headerElem = document.body.querySelector('.header_navbar ul');
    const firstname = localStorage.getItem('firstname');
    const userAvatarElem = document.createElement('li');
    userAvatarElem.id = "user-avatar";
    // userAvatarElem.innerText = `Hi, ${firstname}!`;
    userAvatarElem.style = `
      background-image: url(http://localhost:3000/images/avatar.jpg);
      background-size: cover;
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    `;
    headerElem.append(userAvatarElem);
    
    const lastname = localStorage.getItem('lastname'); 
    let userAvatarMenuPanelElem = document.createElement('div');
    userAvatarMenuPanelElem.innerHTML = `
       <div id="user-avatar-menu-panel" class="t-flyout" style="display: none; background: white; position: fixed; width: 120px; padding-top: 10px;">
         <div style="display: flex; flex-direction: column; align-items: center;">
           <img src="/images/avatar.jpg" style="width: 80px; height: 80px">
           <h4 style="text-transform: capitalize;">${firstname + ' ' + lastname}</h4>
           <button id="btn-logout">Log Out</button>
         </div>
       </div>`;
    headerElem.append(userAvatarMenuPanelElem);

    $('#user-avatar').click( () => {
      $('#user-avatar-menu-panel').show();  
    });

    $('#btn-logout').click( () => {
      const idmember = localStorage.getItem('idmember');
      if (idmember && parseInt(idmember) > 0) {
        localStorage.removeItem('idmember');
        localStorage.removeItem('firstname');
        localStorage.removeItem('lastname');
        window.location.reload();
      }
    });

  }
</script>

<style type="text/css">
  #user-avatar:hover { 
    border: 1px solid gray;
    cursor: pointer;
  }
</style>
