<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head', { title: "Let's send and receive books" }); %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script type="text/javascript" src='/javascripts/t-index.js'></script> 
    <style type="text/css">
      table, th, td {
        border: 1px solid black;
        padding: 5px;
      }

      table {
        border-collapse: collapse;
      }

      #search-result {
        position: absolute;
        display: block;
        z-index: 999;
        background-color: #f0cc6a;
        top: 65%;
        left: 33%;
        margin-left: auto;
        margin-right: auto;
      }

      #search-result img {
        width: 150px;
      }

      #search-result thead {
        font-weight: bold;
      }

    </style>
       
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    <% if (!locals.idmember) { %>
      

      <!-- START Anastasiia: body-->
      <!-- body of the main page -->
      <div class="MainBody">
        <div class="centeredContainer">
           <img src="/images/Book-Wallpaper-02-2560-x-1600.jpeg" width="1500" height="600">
      <div class="centeredBody" id="welcome-message">
           <p>Welcome to the book exchange platform!</p>
           <p>Here you can give away your old books and find new ones.</p>
      <!-- Search -->
      <form onsubmit="return false;">
        <div class="search">
             <label for="Title">Book title:</label><br>
             <input type="search" placeholder="Type some words and click button" id="Title">
             <button id="btn-title-search"><i class="fas fa-search"></i></button>
        </div>
        <div class="search">
             <label for="Author">Book author:</label><br>
             <input type="search" placeholder="Type some words and click button" id="Author">
             <button id="btn-author-search"><i class="fas fa-search"></i></button>
        </div>
      </form>
      
      <br>
      <button id="btn-latest-books">See latest posted books</button>
      </div>
      </div>

      <!--About project (here should be sent when clicking "about" in header)-->
      <h1>How does it work</h1>
      <div class="about">
      <p>You search for the book<br>
          <i class="fas fa-search"></i>
      </p>
      <p>Agree with the owner<br>
          <i class="far fa-handshake"></i>
      </p>
      <p>Share books you want to give away<br>
          <i class="fas fa-recycle"></i>
      </p>
      </div>

      <!--Create account sugestion-->
      <div class="sugestion">
         <p>And do not forget to share your books</p>
         <button class="btn-create-account" onclick="openSignupForm()">Create account</button>
      </div>
      <!-- END Anastasiia: body-->
      </div>

    <% } %>
</main>

<footer>
    <%- include('./footer'); %>
</footer>



</body>
</html>