<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head', { title: "Messages" }); %>
    <script type="text/javascript" src="/javascripts/utils.js"></script> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/t-message.css">
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
  <script type="text/javascript">forceLogin();</script>
  
  <% if ( locals.data ) { %>
    <div id="blocka">
      <h4>Users related to this book</h4>
      <a class="t-book-cover" target="_blank"><img class="t-book-cover"></a>
      <div class="t-flex">
        <button id="btn-exchange-done">Exchange Done<br>(Delete Book)</button>
        <button id="btn-delete-conversation" disabled>Delete this<br>Conversation</button>
      </div>
    </div>

    <div id="blockb">
      <ul class="t-user-list">

      </ul>

      <div class="t-conversation" style="display: none;">
        <div class="t-message-container">
  
        </div>
        <div class="t-send-area">

        </div>
      </div>
    </div>
  <% } %>
</main>

<footer>
    <%- include('./footer'); %>
</footer>

  <script type="text/javascript">
    const data = <%-JSON.stringify(data)%>;

    if (data && data[0] && parseInt(data[0].book_idmember) > 0 && localStorage.getItem('idmember') != data[0].book_idmember){
      if ($('#btn-exchange-done')) $('#btn-exchange-done').remove();
    }
  </script>
  <script type="text/javascript" src="/javascripts/t-message.js"></script>
</body>
</html>