<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head', { title: "Messages" }); %>
    <script type="text/javascript" src="/javascripts/utils.js"></script> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/t-message.css">
</head>
<body class="container">

<header>
    <%- include('./header', { isAuthorized: true }); %>
</header>

<main>
  <% if ( locals.data ) { %>
    <div id="blocka">
      <h4>Users related to this book</h4>
      <img class="t-book-cover">
      <button>Exchange Done</button>
    </div>

    <div id="blockb">
      <h4>Click below to chat with other users</h4>
      <ul class="t-user-list">

      </ul>

      <div class="t-conversation">
        <div class="t-message-container">
  
        </div>
        <div class="t-send-area">
  
        </div>
      </div>
    </div>
  <% } %>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

  <script type="text/javascript">
    forceLogin();
    
    const data = <%-JSON.stringify(data)%>;
  </script>
  <script type="text/javascript" src="/javascripts/t-message.js"></script>
</body>
</html>